[Unit]
Description=Le serveur Keycloak
After=syslog.target network.target
Before=httpd.service

[Service]
Environment=LAUNCH_JBOSS_IN_BACKGROUND=1
EnvironmentFile=-/etc/keycloak/keycloak.conf

# A remplacer par user keycloak:keycloak
User=root
Group=root


LimitNOFILE=102642
PIDFile=/var/run/keycloak/keycloak.pid

Environement=VAR=TEST
#Environement=java.security.egd=file:/dev/./urandom
ExecStart=/opt/keycloak/bin/launch.sh $KEYCLAOK_MODE $KEYCLAOK_CONFIG $KEYCLAOK_BIND $KEYCLOAK_MANAGMENT_CONSOLE_BIND
StandardOutput=null             

[Install]
WantedBy=multi-user.target

KEYCLOAK_MODE=standalone
# Configuration pour le mode standalone 
KEYCLOAK_CONFIG=standalone-ha.xml
KEYCLOAK_BIND=0.0.0.0
KEYCLOAK_MANAGMENT_CONSOLE_BIND=0.0.0.0
